<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/stickyfooter.css">
    
    <title>Error 404</title>
</head>
<body>
    {{>header}}

    <main>
        <h1 class="error404">{{errorMessage}}</h1>
    </main>
    
    {{>footer}}
</body>
<script src="/js/jquery.js"></script>
<script src="/js/app.js"></script>
</html>